html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-size:13px;
  color:$color-body;
}
a{
	text-decoration:none;
}
.link-more{
	color:$color-turquesa;
	font-size:15px;
	font-weight:bold;
}
.title{
	font-size:25px;
	font-family:$font-title;
	color:$color-black;
}
.subtitle{
	font-size:20px;
	color:$color-black;
	font-family:$font-title;
}
.social-networks-title{
	color:$color-white;
	display:inline-block;
	padding-right: 30px;
}
.social-networks-item{
	display:inline-block;
	vertical-align:top;
}
.square{
	background:$color-gris;
	width:35%;
	height:190px;
	display:inline-block;
	margin-right: 15px;
}