html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-size:13px;
  color:$color-body;
}
a{
	text-decoration:none;
}
.link-more{
	color:$color-turquesa;
	font-size:15px;
	font-weight:bold;
}
h1{
	font-size:30px;
	font-family:$font-title;
	color:$color-white;
}