$color-turquesa:#00a0aa;
$color-turquesa-lighter:#4abdc2;
$color-white:#fff;
$color-black:#000;
$color-naranja:#ff9b41;
$color-gris:#d4d4d4;
$color-celeste:#27abdc;
$color-body:#3f3f3f;

$font-title:Helvetica,Arial,sans-serif;
$font-body:Arial, sans-serif;