.navigation-main{
	padding-left: 100px;
	padding-top: 25px;
	width:80%;
	display:inline-block;
}
.list-navigation-main{
	list-style:none;	
	margin-left:-40px;
}
.list-navigation-item{
	display:inline-block;
	
}
.list-navigation-main .list-navigation-link{
	color:$color-white;
	font-size:20px;
	font-weight:normal;
	font-family:$font-body;
	padding:10px;
}
.list-navigation-main .list-navigation-link:hover{
	background:$color-turquesa-lighter;
	padding:10px;
	z-index:1;
}