.navigation-main{
	padding-left: 100px;
	padding-top: 40px;
	width:85%;
	display:inline-block;
}
.list-navigation-main{
	list-style:none;	
	margin-left:-40px;
}
.navigation-item{
	display:inline-block;
	font-size:25px;
	font-weight:bold;
}
